<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <div class="container">
      <div class="cont">
        <div class="header">
          <div class="logo">
            <h2>VEG<span>CART</span></h2>
          </div>
   <div class="amnt-cont">
     <div class="func">
      <div class="icn">
         <i class="fa fa-cart-arrow-down" (click)="openpopup()"></i>
        <div class="amt">
         <h3  > {{TotalAmount}}</h3>
        </div>
        </div>
          </div>
         </div>
        </div>
      </div>
     </div> 



