.pop-cont{
    top:0;bottom: 0;left:0;right: 0;
    display: flex;
     justify-content:center;
     align-items: center;
   position: fixed;
  background-color: rgba(0,0,0,0.5);
  }
  
  table{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }
  .pop tr th{
   padding-right: 30px;
  }
  .data-pop td{
    padding-right: 50px;
  
  }
  .pop {
    background-color: aquamarine;
  }
  .cont button{
    background-color: aquamarine;
    position: absolute;
    top:0;
    right: 127px;
    top: 35px;
  width: 23px;
  height: 10px;
  border-radius:50% ;
  border: none;
  opacity: 0;
  }
  
  
  
  .pop button{
   background-color: darkcyan;
   color:white;
   border:none;
   font-size: 20px;
   border-radius: 50%;
   margin-left: 20px;
  right: -10px;
  top:-10px;
  border-top-right-radius:0px ;
  border-top-left-radius:0px ;
  border-bottom-right-radius:0px ;
  }
  
  
  